<%- include ('../partials/header') %>
<%- include('../partials/header-navbar')%>

<section class="background-radial-gradient overflow-hidden">
    <style>
        .background-radial-gradient {
            background-color: hsl(218, 41%, 15%);
            background-image: radial-gradient(650px circle at 0% 0%,
                hsl(218, 41%, 35%) 15%,
                hsl(218, 41%, 30%) 35%,
                hsl(218, 41%, 20%) 75%,
                hsl(218, 41%, 19%) 80%,
                transparent 100%),
            radial-gradient(1250px circle at 100% 100%,
                hsl(218, 41%, 45%) 15%,
                hsl(218, 41%, 30%) 35%,
                hsl(218, 41%, 20%) 75%,
                hsl(218, 41%, 19%) 80%,
                transparent 100%);
        }
    
        #radius-shape-1 {
            height: 220px;
            width: 220px;
            top: -60px;
            left: -130px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
        }
    
        #radius-shape-2 {
            border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
            bottom: -60px;
            right: -110px;
            width: 300px;
            height: 300px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
        }
    
        .bg-glass {
            background-color: hsla(0, 0%, 100%, 0.9) !important;
            backdrop-filter: saturate(200%) blur(25px);
        }
    </style>

    <div class="container">


        <table class="table">
        <tbody class="table-group-divider">
            <tr>
            <td>Restaurants</td>
            <td><%= restaurant_id %></td>
            </tr>
            <tr>
            <td>Information</td>
            <td><%= information %></td>
            </tr>
            <tr>
            <td>Average Rating</td>
            <td><%= avg_rating %></td>
            </tr>
            <tr>
            <td>Add Review</td>
            <td><button type="nav-link" class="btn btn-primary btn-block mb-4" href="/postReview">Post Review</button></td>
            </tr>
        </tbody>
        </table>

    </div>

</section>


<%- include('../partials/footer')%>