<%- include ('../partials/header') %>
<%- include('../partials/header-navbar')%>

<section class="background-radial-gradient overflow-hidden">
    <style>
        .background-radial-gradient {
            background-color: hsl(218, 41%, 15%);
            background-image: radial-gradient(650px circle at 0% 0%,
                hsl(218, 41%, 35%) 15%,
                hsl(218, 41%, 30%) 35%,
                hsl(218, 41%, 20%) 75%,
                hsl(218, 41%, 19%) 80%,
                transparent 100%),
            radial-gradient(1250px circle at 100% 100%,
                hsl(218, 41%, 45%) 15%,
                hsl(218, 41%, 30%) 35%,
                hsl(218, 41%, 20%) 75%,
                hsl(218, 41%, 19%) 80%,
                transparent 100%);
        }
    
        #radius-shape-1 {
            height: 220px;
            width: 220px;
            top: -60px;
            left: -130px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
        }
    
        #radius-shape-2 {
            border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
            bottom: -60px;
            right: -110px;
            width: 300px;
            height: 300px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
        }
    
        .bg-glass {
            background-color: hsla(0, 0%, 100%, 0.9) !important;
            backdrop-filter: saturate(200%) blur(25px);
        }
    </style>


    <div class="container">
        <h1>Restaurant Pool:</h1>
        <!-- TABLE CONSTRUCTION -->
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Restaurants</th>
                    <th scope="col">Information</th>
                    <th scope="col">Average Rating</th>
                    <th scope="col">Address</th>
                    <th scope="col">Add A Review:</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <% for(var i=0; i<restaurants.length; i++) {%>
                        <tr>
                            <td><%= restaurants[i].name %></td>
                            <td><%= restaurants[i].information %></td>
                            <td>(<%= restaurants[i].rating %> stars)</td>
                            <td><%= restaurants[i].address %></td>
                            <td><button type="submit" class="form-control" value="<%= name %>">Post Review</button></td>
                        </tr>
                <% } %>
            </tbody>
        </table>
    </div>

</section>


<%- include('../partials/footer')%>